<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [2]:
# Importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pickle

In [4]:
dataset = pd.read_csv('hiring.csv')
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   experience       6 non-null      object
 1   test_score       7 non-null      float64
 2   interview_score  8 non-null      int64
 3   salary           8 non-null      int64
dtypes: float64(1), int64(2), object(1)
memory usage: 384.0+ bytes

In [5]:
dataset['experience'].fillna(0, inplace=True)
dataset['test_score'].fillna(dataset['test_score'].mean(), inplace=True)

In [6]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   experience       8 non-null      object
 1   test_score       8 non-null      float64
 2   interview_score  8 non-null      int64
 3   salary           8 non-null      int64
dtypes: float64(1), int64(2), object(1)
memory usage: 384.0+ bytes

In [7]:
dataset.head()

  experience  test_score  interview_score  salary
0          0         8.0                9   50000
1          0         8.0                6   45000
2       five         6.0                7   60000
3        two        10.0               10   65000
4      seven         9.0                6   70000

In [8]:
X = dataset.iloc[:, :3]
y = dataset.iloc[:, -1]

In [9]:
# Converting words to integer values
def convert_to_int(word):
    word_dict = {'one':1, 'two':2, 'three':3, 'four':4, 'five':5, 'six':6, 'seven':7, 'eight':8,
                'nine':9, 'ten':10, 'eleven':11, 'twelve':12, 'zero':0, 0: 0}
    return word_dict[word]

X['experience'] = X['experience'].apply(lambda x : convert_to_int(x))

In [10]:
X

   experience  test_score  interview_score
0           0    8.000000                9
1           0    8.000000                6
2           5    6.000000                7
3           2   10.000000               10
4           7    9.000000                6
5           3    7.000000               10
6          10    7.857143                7
7          11    7.000000                8

In [12]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()

# Fitting model with trainig data
regressor.fit(X, y)

# Saving model to disk
pickle.dump(regressor, open('model.pkl','wb'))

In [16]:
# initialize list elements to give input as test data in model
data = [[2,9,6]]

# Create pandas DataFrame with column name
df = pd.DataFrame(data, columns=['experience','test_score','interview_score'])
df

   experience  test_score  interview_score
0           2           9                6

In [26]:
# Loading model to predict salary on test data
model = pickle.load(open('model.pkl','rb'))

print(np.round(model.predict(df),2))

[53290.89]